[Unit]
Description=Met à jour le repo github si aucun commit public n'a été effectué
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=votre_utilisateur
WorkingDirectory=/chemin/absolu/vers/votre/repo
ExecStart=/chemin/absolu/vers/updateGithub.sh

Restart=on-failure
RestartSec=3000
StartLimitBurst=3

# Logs
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target